@use "../../styles/vars";

.switch {
  &-checkbox {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
  }

  &-check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
  }
  &-checkbox:checked ~ .switch-check {
    background: #131313;
  }

  &-check::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background: #131313;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
  }

  &-checkbox:checked ~ .switch-check::before {
    transform: translateX(-50px);
  }

  &-check::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
  }

  &-checkbox:checked ~ .switch-check::after {
    transform: translateX(0px);
  }
}
