@use 'vars';
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 30px;
}
body::-webkit-scrollbar-track {
  background: #131313; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  /* roundness of the scroll thumb */
}

@font-face {
  font-family: "MonumentExtended";
  src: local("MonumentExtended"),
    url(../assets/fonts/MonumentExtended-Regular.otf) format("truetype");
}

html,
* {
  cursor: none;
  @media only screen and (max-width: 750px) {
    cursor: auto;
  }
}

.light {
  background-color: white;
  color: #131313 !important;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.dark {
  background-color: #131313;
  color: white !important;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
