.home {
  z-index: 1;
  height: calc(100vh - 112px);
}
.title-content {
  overflow: hidden;
  position: relative;
  height: 100px;
}
.title-hide {
  font-family: "MonumentExtended";
  font-weight: bold;
  line-height: 6rem;
  font-size: 3em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: #fff;
  @media only screen and (max-width: 1500px) {
    font-size: 2.5em;
  }
  @media only screen and (max-width: 1250px) {
    font-size: 2em;
  }
  @media only screen and (max-width: 1040px) {
    font-size: 1.5em;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1em;
  }
}

.title-wrapper {
  padding-top: 2rem;
  padding-bottom: 17rem;
  @media only screen and (max-width: 1700px) {
    padding-bottom: 13rem;
  }

  @media only screen and (max-width: 1600px) {
    padding: 3rem 4rem 13rem 4rem;
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: 800px) {
    padding: 2rem;
  }
}

.react-logo {
  cursor: grab;
  position: absolute;
  height: 280px;
  overflow: hidden;
  right: 20%;
  bottom: 20%;
}

#lilian {
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.overlay {
  background-color: #ff9728;
  position: absolute;
  top: -100%;
  left: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  @media only screen and (max-width: 500px) {
    top: -120%;
  }
}
